<!DOCTYPE html>
<html lang="en">
<head>
  <title>Active Users</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/fleetmanagement.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2 style="color: antiquewhite; margin:30px">Active Users</h2>
  <table class="table" style="background-color: lightgoldenrodyellow">
    <thead>
      <tr>
        <th>UserName</th>
        <th>Password</th>
        <th>Registration</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      <tr>

      </tr>
      <tr class="table-danger">
        <th>{{ yourUsername }}</th>
        <th>{{ yourPassword }}</th>
        <th>{{ TruckReg }}</th>
        <th> No </th>
      </tr>
      <tr class="table-success">
      </tr>
      <tr class="table-danger">
      </tr>
      <tr class="table-info">
      </tr>
      <tr class="table-warning">
      </tr>
      <tr class="table-active">
      </tr>
      <tr class="table-secondary">
      </tr>
      <tr class="table-light">
      </tr>
      <tr class="table-dark text-dark">
      </tr>
    </tbody>
  </table>
</div>
</div>
</body>
</html>