
<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/fleetmanagement.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body 		{ padding-top:80px; }
    </style>
</head>
<body>

<div class="container">
    <div class="jumbotron text-center" style="background-color: cadetblue; border-radius: 40px;" >
        <h1><span class="fa fa-lock"></span> Fleet Management</h1>

        <p>Login or Register</p>
        <a href="/pages/login.html" class="btn btn-success" style=" width : 150px"><span class="fa fa-user"></span> Login </a>
        <a href="/pages/signup.html" class="btn btn-success" style=" width : 150px"><span class="fa fa-user"></span> Register </a>
    </div>
</div>
</body>

</html>
