<!DOCTYPE html>
<html lang="en">
<meta contentType="text/html;charset=UTF-8">
<style>
 body{
  margin: 0;
  padding: 0;
  background-image: url("Assets/images/fleetmangenment.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover ;
 }
</style>
<head>

 <title>Fleet Management Login</title>

<body>

    background-attachment: fixed;
    background-size: cover ;">

 <h1>Login Here</h1>
 <form method="put" action="checkLoginDetails.jsp">
  <label for="userName">Username</label>
  <input type="text" name="userName" placeholder="Enter Username">
  <label for="userPassword">Password</label>
  <input type="password" name="userPassword" placeholder="Enter password">
  <input type="submit" name="" value="Login">
 </form>

</div>
</body>
</html>
