<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fleet Management Login</title>
    <link rel="stylesheet" href="Assets/fleetmanagement.css" type="text/css">
</head>
<body>
<div class="container">
    <div class="loginbox">
        <a href="/login" class="btn btn-lg btn-success">Login</a>
        <a href="/signup" class="btn btn-lg btn-info">Register</a>
    </div>
</div>
</body>
</html>

************mystyle sheet************************************
<!DOCTYPE html>
<html lang="en">
<meta contentType="text/html;charset=UTF-8">
<style>
</style>
<head>

    <title>Fleet Management Login</title>
    <link rel="stylesheet" href="Assets/fleetmanagement.css" type="text/css">
<body>
<div class="loginbox">
    <img src="Assets/images/avatar.jpg" class="avatar">
    <h1>Login Here</h1>
    <form method="put" action="checkLoginDetails.jsp">
        <label for="userName">Username</label>
        <input type="text" name="userName" placeholder="Enter Username">
        <label for="userPassword">Password</label>
        <input type="password" name="userPassword" placeholder="Enter password">
        <input type="submit" name="" value="Login">
    </form>

</div>
</body>
</head>
