<!DOCTYPE html>
<html lang="en">
<meta contentType="text/html;charset=UTF-8">
<style>
</style>
<head>
    <title>Fleet Management Login</title>
    <link rel="stylesheet" href="Assets/StyleSheets/fleetmanagement.css" type="text/css">
</head>
    <body>
        <div class="loginbox">
            <h1>Login Here</h1>
                <form method="put" action="checkLoginDetails.jsp">
                    <label for="userName">Username</label>
                    <input type="text" name="userName" placeholder="Enter Username">
                    <label for="userPassword">Password</label>
                    <input type="password" name="userPassword" placeholder="Enter password">
                    <input type="submit" name="" value="Login">
                </form>
        </div>
    </body>
</html>
